{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
{% load staticfiles %}
<style>
    html, body{
        height: 100%;
    }
    .rowspace {
        margin-bottom: 20px;
    }
</style>

<div class="container">
    <div class="row" style="background:lightseagreen">
        <h2 class="text-center">Twift! Two wheeler lift</h2>
        <h4 class="text-center">Ride Share!!</h4><br/><br/><br/>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyDNDQMWfiSliKDmlNRokulCXBLKZBebBnQ"></script>
     

        <div class="container" style="background: white">
        <h1 class="header center black-text">Find a Ride</h1>
        <form method="post"    class="form-horizontal">
            {% csrf_token %}
            {{ form}}

<div class="row">
                <div class="form-group">
                    <div class="text-center col-md-2 col-md-offset-4 rowspace">
              <a class='dropdown-button btn' id="dd2" href='#' data-activates='dropdown2'>Travel Now</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown2' class='dropdown-content'>
    <li><a href="#!" onclick="document.getElementById('dd2').text='Travel Now';document.getElementById('id_duration').value='0';">Travel Now</a></li>
    <li><a href="#!" onclick="document.getElementById('dd2').text='In 30 minutes';document.getElementById('id_duration').value='30';">In 30 minutes</a></li>
    
    <li ><a href="#!" onclick="document.getElementById('dd2').text='In 1 hr';;document.getElementById('id_duration').value='60';">In 1 hr</a></li>
  </ul>
  </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="text-center col-md-2 col-md-offset-4 rowspace">
                        <input type="text" id="srcPlaces" style="width: 250px" placeholder="Source" required="required" value="{% if form.source.value != None  %} {{form.source.value}} {% endif %}"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="text-center col-md-4 col-md-offset-4 rowspace">
                        <input type="text" id="destPlaces" style="width: 250px" placeholder="Destination" required="required" value="{% if form.destination.value != None  %} {{form.destination.value}} {% endif %}" />
                    </div>
                </div>
            </div>
            <div class="text-center col-md-4 col-md-offset-4 rowspace">
                <button class="btn waves-effect waves-light" type="submit"> Search  <i class="material-icons right">search</i></button>
            </div>
        </form>
         <div class="row">
         <span style="cursor:pointer">
         {% for ride in ride_offers %}
      <div class="row">
        <div class="col s12 m12">
<ul class="collection" >
    <li class="collection-item avatar">
    {% for account in ride.user.user.socialaccount_set.all %}
      <img src="{{ account.get_avatar_url }}" alt="" class="circle">
      {% endfor %}
              <span class="title">{{ ride.user.user.first_name   }} </span>
              <p>Source: {{ ride.source }}</p>
              <br/>
        <p>Destination:{{ ride.destination }}</p>     <a href="#!" class="secondary-content" onclick="ridechosen({{ride.id}},this)"><i class="material-icons" >add</i></a>
    </li></ul>
    </div></div>
     

   
             
{% endfor %}</span>
 <form method="post" action="/twift/show_available_rides/" class="form-horizontal">
            {% csrf_token %}
            {{ form1}}
  </form>

<script   src="https://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>  
 
{% block customjs %}

<script src = "{% static 'js/availRide.js' %}">
  

</script>

{% endblock %}
        </div>
    </div>
</div>
{% endblock %}