<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twift</title>
    <!-- Core CSS - Include with every page  -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block head_title %}{% endblock head_title %}</title>
</head>
<body>
    <nav class="black text-white">
        <ul class="right hide-on-med-and-down text-white">
            {% if user.is_authenticated %}
                <ul id="dropdown1" class="dropdown-content">
                    <li><a href="/accounts/profile">Profile</a></li>
                    <li><a href="/accounts/logout">Logout</a></li>
                </ul>
                <li>
                    <li><a class="dropdown-button  lime darken-4" href="#!" data-activates="dropdown1">{{ request.user.username }}<i class="material-icons right">arrow_drop_down</i></a></li>
                </li>
            {% endif %}
        </ul>
        <ul id="slide-out" class="side-nav text-white yellow lighten-5">
            <li><a class="btn waves-effect teal" href="/">Your Rides</a></li>
            <li><a class="btn waves-effect teal" href="#!">Find a Ride</a></li>
            <li><a class="btn waves-effect teal" href="/twift/offerNewRide">Offer a Ride</a></li>
            <hr>
            <li><a  class="btn waves-effect teal" href="/accounts/login">Login</a></li>
            <li><a  class="btn waves-effect teal" href="/accounts/register">Join for free</a></li>
            <hr>
            <li><a class="btn waves-effect teal" href="#!">Help</a></li>
            <li><a class="btn waves-effect teal" href="#!">Feedback</a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons material-spec-icon text-white" title="Show navigation">menu</i></i></a>
    </nav>
    {% block body %}
    {% block content %}
    {% endblock content %}
    {% endblock body %}
    {% block extra_body %}
    {% endblock extra_body %}
    <script src = "{% static 'js/jquery.min.js' %}"></script>
    <script src = "{% static 'js/materialize.js' %}"></script>
    <script src = "{% static 'js/init.js' %}"></script>
    <script>
        $(".dropdown-button").dropdown();
    </script>
    {% block script_content %}
    {% endblock script_content %}
</body>
</html>