{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<style>
    html, body{
        height: 100%;
    }
    .rowspace {
        margin-bottom: 20px;
    }
</style>

<div class="container">
    <div class="row" style="background:lightseagreen">
        <h2 class="text-center">Twift! Two wheeler lift</h2>
        <h4 class="text-center">Ride Share!!</h4><br/><br/><br/>
        <div class="text-center col-md-4 col-md-offset-4 rowspace">
            <button id="rideOffer"
                    type="button"
                    class="btn btn-info btn-lg center-block"
                    style="background:#ff615d"
                    data-toggle="modal">OFFER RIDE</button>
        </div>
        <div class="text-center col-md-4 col-md-offset-4 rowspace">
            <button id="rideFind"
                    type="button"
                    class="btn btn-info btn-lg center-block"
                    style="background:rgba(203, 255, 84, 0.67)"
                    data-toggle="modal">FIND A RIDE</button>
        </div>
    </div>
</div>

{% endblock %}

{% block script_content %}
<script>
    $(document).ready(function() {
        $('#rideOffer').click(function(e) {
            console.log("Inside ride offer");
            window.location.href='/twift/offerRide';
        });
        $('#rideFind').click(function(e) {
            //go to find ride
        });
    });
</script>
{% endblock %}